<html><body>

<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, :class => "addBtn"  %>

<section id = "profileHeader">
<h1 align="center"><%= @user.firstname %> <%= @user.lastname %></h1>
	<div class="profileimg">
		<center>
		<%= image_tag @user.image.url(:medium), class: "img-circle" %>
	</div>
</section>

<section id = "allposts">
<div class = "postsLabel">
<h2 align="center"><%= @user.firstname %>'s Posts</h2>
</div>
	<% @posts.each do |post| %>
	<center>
	<div class="col-md-4">
 	<h2 class="status"><%= post.status %></h2>
 	<%= link_to "View Comments", post_path(post), class: "btn-viewcomment" %> 
 	</div> 
    <% end %>
</section>

<section id = "friends">
<div class = "friendsLabel">
<br>
<h2 align="center"><%= @user.firstname %>'s Friends</h2>
</div>

<div class = "friendsList">
	<% for friendship in @user.friendships %>
  		<%= image_tag friendship.friend.image.url(:thumb), :class => "friendImage" %>
    	<%= link_to "#{friendship.friend.firstname} #{friendship.friend.lastname}", friendship, :class => "friendName"%>
		(<%= link_to "remove", friendship, :method => :delete %>)
  	<% end %> 
  	</div> 
<div class = "postsLabel">
<br>
<h2>Users Who Have Befriended <%= @user.firstname %></h2>
</div>
<ul>
  <% for user in @user.inverse_friends %>
  <%= image_tag user.image.url(:thumb), :class => "friendImage" %>
  <%= link_to "#{user.firstname} #{user.lastname}", user, :class => "friendName" %>
  <% end %>
</ul>
</section> 

