<html><body>
	<div class="showstatus">		
	
		<div class="statusview"><%= @post.status %></div>
		<div class="status-posted-by">Posted by <%= @post.user.email  %> <%= time_ago_in_words(@post.created_at) %>
		ago </h4>

		<h2 class="commentlbl">Comments:</h2>
		<%=  render @post.comments %>

		<h3 class="commentreply">Reply to comment</h3>
		<%= render 'comments/form' %>

		<div class="links btn-group">
			<%= link_to "Back", root_path, class: "btn btn-default" %>
			<% if user_signed_in? %>
				<% if @post.user_id == current_user.id %>
					<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
					<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"  %>
				<% end %>
			<% end %>

		</div>
		</div>
	</div>
</body>
</html>
