/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  margin: 0px;
}
container {
	background-color: #ff7575;
}

.col-md-4 {
    width: 33.33333333%;
}


.status{
box-sizing: border-box;
	background-color: #00bcb8;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border: 3px solid black;	
}


.btn-viewcomment{
box-sizing: border-box;
	margin-top: 20px;
	height: 30px;	
}

.showstatus {
	margin: auto;
	background-color: #00bcb8;
	padding: 1.4em 1.4em;
	width: 500px;
	border: 3px solid black;	
	
	h2 {
		margin-top: 0;
	}

	.statusview  {
	font-size: 40px;
	}

	.statusview {
		font-style: italic;
		font-size: 30px;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.status-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.commentreply {
		border-top: 1px solid #fff;
	}

}


.commentlbl {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}


.img-circle {
    border-radius: 50%;
    height: 150px;
}

.userLabel {
	text-transform: capitalize;
}

.saySomething {
  font-size: 25px;
  color: #149898;
}




.statusField { 
    float: left;
    margin-bottom: 10px;
    border: 1px solid #c4c4c4; 
    outline: 0;
    width: 50%; 
    font-size: 17px; 
    padding: 20px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.statusField:focus { 
    outline: 0; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.statusPostBtn{
  vertical-align: top;
  display:inline-block; 
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#42acac;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:20px;
  font-weight:300;
  height:60px;
  width: 150px;
}

.statusPostBtn:hover{
  float: center;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#fafafe;
  background-color:#149898;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:20px;
  font-weight:300;
  height:60px;
  width: 150px;
}
.feedImage {
  border-radius: 7px;
}

.newPostLbl {
	font-size: 30px;
	font-color: #149898;
}

.newPost {
  background-size: cover;
  padding: 30px;
  border-bottom: 1px solid #149898;
}

#profileHeader {
padding: 10px;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size:cover;
color:#fff;

}

.postsLabel {
-webkit-background-size: cover;
background-size: cover;
-moz-background-size:cover;
color: #149898;
text-transform: capitalize;
}

#allposts {
	padding: 10px;
	margin-bottom: 100px;
}

h1 {
	text-transform: uppercase;
	color: #149898;
}

#friends {
margin-top: 10px;
padding: 10px;
display: block;
}


.addBtn{
  float: right;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#42acac;
  background-color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:2px solid #42acac;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:15px;
  font-weight:100;
  height:30px;
  width: 100px;
  padding: 3px 10px 13px 10px;
}

.addBtn:hover{
  float: right;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
   color:#4dbbbb;
  background-color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:2px solid #4dbbbb;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:15px;
  font-weight:100;
  height:30px;
  width: 100px;
  padding: 3px 10px 13px 10px;
}

.friendsList {
	text-transform: capitalize;
}

.friendName {
	text-transform: capitalize;
}

.friendImage {
	border-radius: 13px;
}

.friendsLabel {
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size:cover;
	color: #149898;
	text-transform: capitalize;
}

section {
	display: block;
}